.contact-container {
    width: 100%;
    padding: 75px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--tertiary-color);
}

.contact-items-only-mobile {
    display: none;
}

.contact-us-title {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--quart-color);
    border: 1px solid black;
}

.contact-details-info-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 35px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 30px;
}

.contact-details-div a {
    text-decoration: none;
    color: var(--quart-color);
    font-weight: 500;
}

.contact-details-div svg {
    position: absolute;
    margin-right: 5px;
    height: 25px;
    width: 25px;
    left: 0;
}

.contact-us-title h2 {
    font-size: 36px;
    margin-bottom: -20px;
    letter-spacing: -1px;
    font-weight: 900;
    color: var(--quart-color);
    text-transform: uppercase;
    text-align: center;
}

.contact-section {
    display: flex;
    flex-direction: column-reverse;
    width: 1290px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px 25px 50px 50px;
    margin-bottom: 50px;
    border: 3px solid var(--primary-color);
    border-radius: 25px;
    box-shadow: 3px 3px 7px -2px rgba(0,0,0,0.34);
    -webkit-box-shadow: 3px 3px 7px -2px rgba(0,0,0,0.34);
    -moz-box-shadow: 3px 3px 7px -2px rgba(0,0,0,0.34);
}

.contact-us-text {
    width: 100%;
    color: var(--quart-color);
    font-size: 18px;
    font-weight: 500;
}

.contact-us-text h2 {
    font-size: 48px;
    letter-spacing: -1px;
    font-weight: 900;
    margin-top: 10px;
    color: var(--quart-color);
}

.contact-us-form-section {
    width: 100%;
    margin: 0 !important;
}

.contact-socials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 30%;
    margin-top: 10px;
    color: var(--quart-color);
}

.contact-socials a {
    transition: all ease 200ms;
}

.contact-socials a:hover {
    transform: scale(1.1);
}

.second-contact-section {
    width: 70%;
}

.second-contact-section h2 {
    font-size: 48px;
    letter-spacing: -1px;
    font-weight: 900;
    margin-top: 10px;
    color: var(--quart-color);
    text-align: center;
    margin-bottom: 20px;
}

@media (width <=1400px) {
    .contact-section {
        width: 100%;
    }

    .contact-us-text h2 {
        font-size: 2em;
    }

    .second-contact-section {
        width: 100%;
    }

    .second-contact-section h2 {
        font-size: 2.5em;
    }
}

@media (width <=900px) {
    .contact-section {
        width: 100%;
    }
    .contact-us-text h2 {
        font-size: 1.5em;
    }

    .second-contact-section {
        width: 100%;
    }

    .second-contact-section h2 {
        font-size: 2em;
    }
}

@media (width <=600px) {
    .contact-container {
        padding: 20px;
    }

    .contact-items-only-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .contact-us-title h2 {
        margin-bottom: 2px;
        font-size: 2.2rem !important;
    }

    .calendly-inline-widget {
        margin-top: 20px;
    }

    .contact-us-title a {
        text-decoration: none;
        color: var(--quart-color);
        font-size: 1.6rem;
        font-weight: 800;
    }

    .contact-us-title svg {
        fill: var(--quart-color);
    }

    .contact-details-div svg {
        display: none;
    }

    .contact-details-info-container {
        display: none;
    }

    .contact-section {
        padding: 25px;
        width: 100%;
        gap: 100px;
    }

    .contact-us-text {
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .contact-us-form-section {
        width: 100%;
    }

    .contact-socials {
        width: 100%;
        justify-content: center;
    }

    #contact-h3 {
        display: none;
    }

    .second-contact-section {
        width: 100%;
    }
}